/*CSS Reset*/
*{
	padding: 0;
	margin: 0;
}

/*Fonts*/
*{
	font-family: 'Acme', sans-serif;
	color: #6F73D2;
}

/*Navbar*/
.navbar{
	background-color: #A3D5FF;
	opacity: 75%;
}

/*Navtext*/
#navtext{
	color: #6F73D2;
}


/*logo*/
.logo{
	height: 45px;
	width: 45px;
}

/*home*/
#homepage{
	background-color: #D9F0FF;
}

/*header*/
#profile-pic{
	height: 300px;
	width: 300px;
}

#skills{
	background-color: #A3D5FF;
}

p{
	margin: 0;
	padding: 0;
}

#otherskills{
	height: 350px;
	width: 350px;
}

#certs{
	height: 250px;
	width: 250px;
}

#gallery{
	background-color: #83C9F4;
}

#game{
	height: 350px;
	width: 350px;
}

#gmap-canvas{
	height: 60vh;
	width: 100%;
}

#footer{
	background-color: #A3D5FF;
	opacity: 75%;
}

#buttn{
	background-color: #6F73D2;
}
